<h1>{{ course }} {{ name }} </h1>
<p id="class-assist">with <strong>{{ assist }}</strong></p>

<div id="class-list">
    {{#weeks}}
    <div class="week-item">
        <a href="/{{../year}}T{{../term}}/{{../name}}/week/{{week}}"><h3>Week {{week}}: {{topic}} <span class="icon">keyboard_arrow_right</span></h3></a>
        <div class="nav-border"></div>
        <p>{{desc}}</p>
        <h4>Files</h4>
        <ul>
            {{#files}}
                <li>{{name}}</li>
            {{/files}}
        </ul>
        <a class="button-link" href="/{{../year}}T{{../term}}/{{../name}}/week/{{week}}/feedback"><button>Give feedback</button></a>
    </div>
    {{/weeks}}
</div>
