<h1>Resources from Abiram's classes</h1>

<div id="session-list">
    {{#sessions}}
    <div class="session-item" id="{{year}}T{{term}}">
        <h3>{{year}}T{{term}}</h3>
        <div class="nav-border"></div>
        <ul>
            {{#classes}}
            <li class="descripted-item">
                <a href="/{{../year}}T{{../term}}/{{class}}"><span class="item-title">{{course}} {{class}}<span class="icon">keyboard_arrow_right</span></span></a>
                <div id="item-desc">with <strong>{{ assist }}</strong></div>
            </li>
            {{/classes}}
        </ul>
    </div>
    {{/sessions}}
</div>
