<h1>{{course}} Week {{week}}</h1>
<p id="week-desc">{{desc}}</p>

<div class="session-item">
    <p>{{text}}</p>
</div>

<div class="session-item">
    <h3>Files</h3>
    <div class="nav-border"></div>
    <ul>
        {{#files}}
        <details>
            
            <summary><strong>{{name}}</strong> - {{desc}}</summary>
            <script src="/js/embed.js?target={{../repo}}week{{../week}}%2F{{name}}&style=darcula&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>
        </details>
        {{/files}}
    </ul>
</div>

<div class="session-item">
    <h3>Slides</h3>
    <div class="nav-border"></div>
    <iframe src="https://docs.google.com/presentation/d/e/{{slides}}/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>